<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/view/planet-item.html">
<link rel="import" href="/components/view/container-item.html">

<dom-module id="page-cosmos">
    <style>
    :host /deep/ label {
        float: right;
    }
    
    :host .card /deep/ a {
        display: block;
        margin-right: 100px;
    }
    
    :host /deep/ h4 {
        border-bottom: 1px solid #373737;
        padding-bottom: 8px;
    }
    </style>
    <template>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="card" id="planets"></div>
                </div>
                <div class="col-md-6 col-xs-12">                
                    <div class="card" id="containers"></div>
                </div>
            </div>
        </div>
    </template>
</dom-module>
<script>
Polymer({
    is: 'page-cosmos',
    ready: function() {
        this.reload();
    },
    reload: function() {
        var self = this;

        Cosmos.request.getPlanets(function(json) {
            var elem = document.createElement('planet-item');
            elem.data = json;
            Polymer.dom(self.$.planets).appendChild(elem);
        }, function(jqXHR) {
            // Failed
            console.log('request failed - ' + jqXHR.responseText);
        });
        Cosmos.request.getContainers(null, function(json) {
            console.log(json);
            var elem = document.createElement('container-item');
            elem.data = json;
            Polymer.dom(self.$.containers).appendChild(elem);
        }, function(jqXHR) {
            // Failed
            console.log('request failed - ' + jqXHR.responseText);
        });
    },
    onPlanetNameClick: function(event, detail, sender) {
        var pagePlanet = document.querySelector('page-planet');
        pagePlanet.showKey = sender.id

        // Move to Planet Tab
        window.CosmosTabs.selected = 1;
    },
    onContainerNameClick: function(event, detail, sender) {
        //var pageContainer = document.querySelector('page-container');
        //pageContainer.showKey = sender.id

        // Move to Container Tab
        //window.CosmosTabs.selected = 2;
    }
});
</script>
