/*
 * Tabs
 */

#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

paper-tab {
    cursor: pointer;
}

paper-tabs #selectionBar {
    background-color: #489dff;
}

core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

core-toolbar {
    background: #222;
    color: white;
}

core-pages .core-selected {
    position: relative;
    display: block;
}

.page-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.paper-tabs-wrapper {
    width: 640px;
}

.card {
    min-height: 50px;
    background-color: #292929;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #323232;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
}

.page {
    padding: 20px 10px;
}