/*
 * Globals
 */
/* Links */

a,
a:focus,
a:hover {
    color: #489dff;
}
/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-primary {
  background-color: #489dff;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #489dff;
  background-color: #fff;
  border: 1px solid #fff;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #222;
    font-family: 'RobotoDraft', sans-serif;
    color: #fff;
}

header,
footer {
    text-align: center;
}


/*
 * Footer
 */

.card {
    min-height: 50px;
    background-color: #292929;
    border: 1px solid #323232;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.page {
    padding: 20px 10px;
