<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Cosmos</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/cosmos.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendor/react-0.13.1/build/react.js"></script>
    <script type="text/javascript" src="/js/vendor/react-0.13.1/build/JSXTransformer.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top"> <!-- nav start -->
      <div class="container">
        <a class="navbar-brand" href="/">COSMOS</a>
      </div>
    </nav> <!-- nav end -->

    <div id="page" class="container">
    </div>
    


    <script type="text/javascript" src="/js/route.js"></script>
    <script type="text/javascript" src="/js/cosmos.js"></script>
  </body>
</html>
