<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="Cosmos is a container monitoring system.">
    <meta name="author" content="Cosmos">
    
    <title>Cosmos</title>
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min-3.3.2.css" />
    <link rel="stylesheet" type="text/css" href="/css/cosmos.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  
  <body>

    <div class="site-wrapper">
      
      <div class="cover-container">
	
        <header class="clearfix">
          <nav>
            <ul class="nav header-nav">
              <li><a href="/planets">Planets</a></li>
              <li><a href="https://doc.cosmos.io/">Docs</a></li>
            </ul>
          </nav>
        </header>
	
	

	<footer>
	  <div class="site-wrapper">
	    <ul class="list-unstyled list-inline">
	      <li><a href="https://github.com/cosmos-io/" title="Fork us on GitHub">GitHub</a></li>
	      <li><a href="https://twitter.com/cosmospioneer/" title="Follow us on Twitter">Twitter</a></li>
	      <li><a href="https://www.facebook.com/pages/Cosmosio/1411438119146311" title="Follow us on Facebook">Facebook</a></li>
	      <li><a href="https://stackoverflow.com/questions/tagged/cosmos?sort=newest" title="#cosmos on Stackoverflow">Stackoverflow</a></li>
	      <li><a href="mailto:founders@cosmos.io" title="Contact to us">Contact</a></li>
	    </ul>
	    <p>&copy Cosmos 2015, all rights reserved.</p>
	  </div>
	</footer>
	
      </div>
      
    </div>
    
    <script src="/js/jquery.min-2.1.3.js"></script>
    <script src="/js/bootstrap.min-3.3.2.js"></script>
    
  </body>
</html>
