<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<polymer-element name="cosmos-service" attributes="planets containers">
    <template>
        <style>
        :host {
            display: none;
        }
        </style>
        <core-ajax id="getAllPlanets" auto url="/v1/planets" on-core-response="{{planetsLoaded}}" handleAs="json" />
        <core-ajax id="getAllContainers" auto url="/v1/containers" on-core-response="{{containersLoaded}}" handleAs="json" />
    </template>
    <script>
    Polymer('cosmos-service', {
        created: function() {
            // initialize data sets
            this.planets = [];
            this.containers = [];
        },
        planetsLoaded: function() {
            // Make a copy of the loaded data
            this.planets = this.$.ajax.response.slice(0);
        },
        containersLoaded: function() {
            // Make a copy of the loaded data
            this.contaienrs = this.$.ajax.response.slice(0);
        }
    });
    </script>
</polymer-element>
